<div class="alert alert-warning fade in">
<h4 class="alert-heading">Estimado propietario(a) {{ session.usuario.nombre }}</h4>
<h2>Le agradecemos ponerse en contacto a la brevedad posible con la administradora.</h2>
Escríbanos al correo <strong>chasafran1@gmail.com</strong><br>
ó comuníquese al teléfono: <strong>(0212)355 8479</strong><br>
<strong>La información de su cuenta de condominio ha sido bloqueada en forma automática</strong>
</div>